.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
  padding: 10rem 4vw;
  align-items: start;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em 4vw;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.headline {
  grid-column: span 2;
}

.link {
  margin-left: 2rem;
}

h1 {
}

p {
  margin-bottom: 1em;
  line-height: 1.4;
}
